<a href="https://colab.research.google.com/github/datasiyeon/Python_Pandas/blob/main/Python_Pandas_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #Pandas 불러오기
import numpy as np #Numpy 불러오기

In [3]:
url=("https://raw.github.com/pandas-dev/pandas/main/pandas/tests/io/data/csv/tips.csv")
tips = pd.read_csv(url) #'url' csv파일 불러오기
tips.head() #tips 5개 앞에서 추출

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

SELECT TOP 5 tips.total_bill, tips.tip, tips.smoker, tips.time

FROM tips;

In [4]:
tips[['total_bill', 'tip', 'smoker', 'time']].head(5) # 레코드 앞에서 5개 추출

   total_bill   tip smoker    time
0       16.99  1.01     No  Dinner
1       10.34  1.66     No  Dinner
2       21.01  3.50     No  Dinner
3       23.68  3.31     No  Dinner
4       24.59  3.61     No  Dinner

SELECT top5 * , ROUND(tip/total_bill,6) astip_rate

FROM tips;

In [5]:
tips.assign(tip_rate=tips['tip'] / tips['total_bill']).head(5)

   total_bill   tip     sex smoker  day    time  size  tip_rate
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808

SELECT TOP 5 * #WHERE 절

FROM tips

WHERE tips.time='Dinner';

In [7]:
tips[tips['time'] == 'Dinner'].head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
is_dinner = tips['time'] == 'Dinner'

In [10]:
is_dinner.value_counts()

True     176
False     68
Name: time, dtype: int64

In [12]:
tips[is_dinner].head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

SELECT *

FROM tips

WHERE time = 'Dinner' AND tip > 5.00;

In [13]:
tips[(tips['time'] == 'Dinner') & (tips['tip'] > 5.00)]

     total_bill    tip     sex smoker  day    time  size
23        39.42   7.58    Male     No  Sat  Dinner     4
44        30.40   5.60    Male     No  Sun  Dinner     4
47        32.40   6.00    Male     No  Sun  Dinner     4
52        34.81   5.20  Female     No  Sun  Dinner     4
59        48.27   6.73    Male     No  Sat  Dinner     4
116       29.93   5.07    Male     No  Sun  Dinner     4
155       29.85   5.14  Female     No  Sun  Dinner     5
170       50.81  10.00    Male    Yes  Sat  Dinner     3
172        7.25   5.15    Male    Yes  Sun  Dinner     2
181       23.33   5.65    Male    Yes  Sun  Dinner     2
183       23.17   6.50    Male    Yes  Sun  Dinner     4
211       25.89   5.16    Male    Yes  Sat  Dinner     4
212       48.33   9.00    Male     No  Sat  Dinner     4
214       28.17   6.50  Female    Yes  Sat  Dinner     3
239       29.03   5.92    Male     No  Sat  Dinner     3

SELECT *

FROM tips

WHERE size >= 5 OR total_bill> 45;

In [14]:
tips[(tips['size'] >= 5) | (tips['total_bill'] > 45)]

     total_bill    tip     sex smoker   day    time  size
59        48.27   6.73    Male     No   Sat  Dinner     4
125       29.80   4.20  Female     No  Thur   Lunch     6
141       34.30   6.70    Male     No  Thur   Lunch     6
142       41.19   5.00    Male     No  Thur   Lunch     5
143       27.05   5.00  Female     No  Thur   Lunch     6
155       29.85   5.14  Female     No   Sun  Dinner     5
156       48.17   5.00    Male     No   Sun  Dinner     6
170       50.81  10.00    Male    Yes   Sat  Dinner     3
182       45.35   3.50    Male    Yes   Sun  Dinner     3
185       20.69   5.00    Male     No   Sun  Dinner     5
187       30.46   2.00    Male    Yes   Sun  Dinner     5
212       48.33   9.00    Male     No   Sat  Dinner     4
216       28.15   3.00    Male    Yes   Sat  Dinner     5

In [16]:
frame = pd.DataFrame({'col1': ['A', 'B', np.NaN, 'C', 'D'], 'col2': ['F', np.NaN, 'G', 'H', 'I']})
frame

  col1 col2
0    A    F
1    B  NaN
2  NaN    G
3    C    H
4    D    I

SELECT *

FROM frame

WHERE col2 IS NULL;

In [18]:
frame[frame['col2'].isna()]

  col1 col2
1    B  NaN

SELECT *

FROM frame

WHERE col1 IS NOT NULL;

In [19]:
frame[frame['col1'].notna()]

  col1 col2
0    A    F
1    B  NaN
3    C    H
4    D    I

SELECT sex, COUNT(*) #GROUP BY 절

FROM tips

GROUP BY sex;

In [20]:
tips.groupby('sex').size()

sex
Female     87
Male      157
dtype: int64

In [21]:
tips.groupby('sex').count()

        total_bill  tip  smoker  day  time  size
sex
Female          87   87      87   87    87    87
Male           157  157     157  157   157   157

In [23]:
tips.groupby('sex')['total_bill'].count()

sex
Female     87
Male      157
Name: total_bill, dtype: int64

SELECT day, AVG(tip), COUNT(*)

FROM tips

GROUP BY day;

In [25]:
tips.groupby('day').agg({'tip': np.mean, 'day': np.size})

           tip  day
day
Fri   2.734737   19
Sat   2.993103   87
Sun   3.255132   76
Thur  2.771452   62

SELECT smoker, day, COUNT(*), AVG(tip)

FROM tips

GROUP BY smoker, day;

In [26]:
tips.groupby(['smoker', 'day']).agg({'tip': [np.size, np.mean]})

             tip
            size      mean
smoker day
No     Fri     4  2.812500
       Sat    45  3.102889
       Sun    57  3.167895
       Thur   45  2.673778
Yes    Fri    15  2.714000
       Sat    42  2.875476
       Sun    19  3.516842
       Thur   17  3.030000

In [27]:
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],'value': np.random.randn(4)})
df2 = pd.DataFrame({'key': ['B', 'D', 'D', 'E'],'value': np.random.randn(4)})

In [28]:
df1

  key     value
0   A  1.529750
1   B -1.350879
2   C  1.367945
3   D  0.546720

In [29]:
df2

  key     value
0   B  0.409205
1   D -0.981952
2   D  0.041880
3   E  0.607569

SELECT *

FROM df1 INNER JOIN df2

ON df1.key = df2.key;

In [30]:
# mergeperformsanINNER JOIN bydefault
pd.merge(df1, df2, on='key')

  key   value_x   value_y
0   B -1.350879  0.409205
1   D  0.546720 -0.981952
2   D  0.546720  0.041880

SELECT *

FROM df1 LEFT OUTER JOIN df2

ON df1.key = df2.key;

In [31]:
# show all records from df1
pd.merge(df1, df2, on='key', how='left')

  key   value_x   value_y
0   A  1.529750       NaN
1   B -1.350879  0.409205
2   C  1.367945       NaN
3   D  0.546720 -0.981952
4   D  0.546720  0.041880

SELECT *

FROM df1 RIGHT OUTER JOIN df2

ON df1.key = df2.key;

In [32]:
# show all records from df2
pd.merge(df1, df2, on='key', how='right')

  key   value_x   value_y
0   B -1.350879  0.409205
1   D  0.546720 -0.981952
2   D  0.546720  0.041880
3   E       NaN  0.607569

In [34]:
df1 = pd.DataFrame({'city': ['Chicago', 'SanFrancisco', 'New York City'],'rank': range(1, 4)})
df2 = pd.DataFrame({'city': ['Chicago', 'Boston', 'LosAngeles'],'rank': [1, 4, 5]})

In [35]:
df1

            city  rank
0        Chicago     1
1   SanFrancisco     2
2  New York City     3

In [36]:
df2

         city  rank
0     Chicago     1
1      Boston     4
2  LosAngeles     5

SELECT city, rank #UNION 절

FROM df1

UNION ALL

SELECT city, rank

FROM df2;

In [37]:
pd.concat([df1, df2]) #df1, df2 합치기

            city  rank
0        Chicago     1
1   SanFrancisco     2
2  New York City     3
0        Chicago     1
1         Boston     4
2     LosAngeles     5

SELECT city, rank

FROM df1

UNION

SELECT city, rank

FROM df2;

In [38]:
pd.concat([df1, df2]).drop_duplicates()

            city  rank
0        Chicago     1
1   SanFrancisco     2
2  New York City     3
1         Boston     4
2     LosAngeles     5

UPDATE tips

SET tip = tip*2

WHERE tip < 2;

In [43]:
tips.loc[tips['tip']< 2, 'tip'] *=2

DELETE FROM tips

WHERE tip > 9 ;

In [41]:
tips = tips.loc[tips["tip"] <= 9]